<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/static/shortcut-icon.png">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/masterstyle.css') }}">
    <script src="/static/js/iniciarSesion.js"></script>
    <title>Bear Careful</title>
</head>
<body>
<nav class="normal">
    <div class="izquierda">
        <div class="navegacionIzquierda">
            <a href="https://bear-tual.herokuapp.com/">
                <h1>Bear Careful</h1>
            </a>
        </div>
        <div class="navegacionIzquierda">
            <a href="https://bear-tual.herokuapp.com/">
                <img src="/static/icon.png" width="100rem" height="100rem">
            </a>
        </div>
    </div>
    <div class="derecha">
        <div class="navegacionDerecha">
            <a class= "boton-secundario" href="{{ url_for('vistas.paises') }}">Estadísticas</a>
        </div>
        <div class="navegacionDerecha">
            <a class= "boton-secundario" href="{{ url_for('auth.login') }}">Histórico</a>
        </div>
        <div class="navegacionDerecha">
            <a class= "boton-secundario" href="https://bear-tual.herokuapp.com/">Iniciar Sesión</a>
        </div>
        <div class="navegacionDerecha">
            <a class= "boton-principal" href="https://bear-tual.herokuapp.com/">Realizar Test</a>
        </div>
    </div>
</nav>
<nav class="responsive">
    <div class="izquierda">
        <div class="navegacionIzquierda">
            <a href="https://bear-tual.herokuapp.com/">
                <h1>&nbspBear Careful</h1>
            </a>
        </div>
        <div class="navegacionIzquierda">
            <a href="https://bear-tual.herokuapp.com/">
                <img src="/static/icon.png" width="100rem" height="100rem">
            </a>
        </div>
    </div>
    <div class="derecha">
        <label for="menu">
            <img src="/static/menu.svg" height="101rem">
        </label>
    </div>
</nav>
<input id="menu" type="checkbox">
<div class="desplegable">
    <br>
    <a href="https://bear-tual.herokuapp.com/" class="a-nav">Realizar Test</a>
    <br>
    <a href="https://bear-tual.herokuapp.com/" class="a-nav">Iniciar Sesion</a>
    <br>
    <a href="{{ url_for('auth.login') }}" class="a-nav">Histórico</a>
    <br>
    <a href="{{ url_for('vistas.paises') }}" class="a-nav" >Estadísticas</a>
    <br>
</div>
<!-- Aqui termina barra de navegacion -->
    <div class="contenido">
    {% block content %}
    {% endblock %}
    </div>
</body>
<footer>
    <p><a href="https://bear-tual.herokuapp.com/">Bear Tual</a></p>
    <p></p><a href="https://bear-tual.herokuapp.com/">Equipo</a></p>
    <p>Derechos reservados</p>
</footer>
</html>